@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234 30% 11%;
    --foreground: 210 40% 98%;
    --card: 233 32% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 233 32% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 167 87% 51%;
    --primary-foreground: 234 30% 11%;
    --secondary: 252 100% 65%;
    --secondary-foreground: 210 40% 98%;
    --muted: 233 32% 25%;
    --muted-foreground: 210 40% 60%;
    --accent: 252 100% 65%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 233 32% 25%;
    --input: 233 32% 25%;
    --ring: 167 87% 51%;
    --radius: 0.5rem;
    --chart-1: 167 87% 51%;
    --chart-2: 252 100% 65%;
    --chart-3: 200 87% 51%;
    --chart-4: 280 87% 65%;
    --chart-5: 310 87% 65%;
    --sidebar-background: 233 32% 17%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 167 87% 51%;
    --sidebar-primary-foreground: 234 30% 11%;
    --sidebar-accent: 233 32% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 233 32% 25%;
    --sidebar-ring: 167 87% 51%;
  }

  .dark {
    --background: 234 30% 11%;
    --foreground: 210 40% 98%;
    --card: 233 32% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 233 32% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 167 87% 51%;
    --primary-foreground: 234 30% 11%;
    --secondary: 252 100% 65%;
    --secondary-foreground: 210 40% 98%;
    --muted: 233 32% 25%;
    --muted-foreground: 210 40% 60%;
    --accent: 252 100% 65%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 233 32% 25%;
    --input: 233 32% 25%;
    --ring: 167 87% 51%;
    --chart-1: 167 87% 51%;
    --chart-2: 252 100% 65%;
    --chart-3: 200 87% 51%;
    --chart-4: 280 87% 65%;
    --chart-5: 310 87% 65%;
    --sidebar-background: 233 32% 13%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 167 87% 51%;
    --sidebar-primary-foreground: 234 30% 11%;
    --sidebar-accent: 233 32% 21%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 233 32% 21%;
    --sidebar-ring: 167 87% 51%;
  }
  .theme {
    --animate-pulse-slow: pulse-slow 3s ease-in-out infinite;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes pulse-slow {
  0%, 100% {
    transform: translateX(-100%);
    }
  50% {
    transform: translateX(100%);
    }
  }
}