@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 100% / 0.02;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 210 40% 98%;
    --primary-foreground: 210 40% 10%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 100% / 0.1;
    --input: 0 0% 100% / 0.1;
    --ring: 215 20% 65%;
    --radius: 0.5rem;
    --chart-1: 210 40% 98%;
    --chart-2: 167 87% 51%;
    --chart-3: 252 100% 65%;
    --chart-4: 280 87% 65%;
    --chart-5: 310 87% 65%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 100% / 0.02;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 210 40% 98%;
    --primary-foreground: 210 40% 10%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 100% / 0.1;
    --input: 0 0% 100% / 0.1;
    --ring: 215 20% 65%;
    --chart-1: 210 40% 98%;
    --chart-2: 167 87% 51%;
    --chart-3: 252 100% 65%;
    --chart-4: 280 87% 65%;
    --chart-5: 310 87% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
